.u-block-1270-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1270-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-1270-4 {
  position: absolute;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  margin: 60px 197px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 255px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/51.jpeg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  margin: 253px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/16.PNG");
  background-position: 50% 40.34%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  margin: 307px 197px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 425px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 93px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/b2f568fad89b99e7ade64eb21063ab699c4f2f3d23b6ddefa207ef7805d4d3b28275037214076246ea68575166c7b3806659023e0b80cf6db5ffea_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1-4 .u-text-1 {
  font-size: 6rem;
  margin: 255px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/10.jpeg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1-5 .u-text-1 {
  font-size: 6rem;
  margin: 255px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 902px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Snapinsta.app_371176019_810264760564098_3850611434468106954_n_1080.jpg");
  background-position: 50% 50%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1-6 .u-text-1 {
  font-size: 6rem;
  margin: 260px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 254px;
}

.u-section-2 .u-text-1 {
  font-weight: 600;
  margin: 27px 671px 0 241px;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  margin: 0 243px 49px 519px;
}
@media screen and (min-width: 601px) {
  u-section-2 .u-text-1 {
    font-size: 80px;
    margin-right: 571px;
    margin-left: 293px;
  }
  u-section-2 .u-text-2  {
    font-size: 80px;
  }margin-right: 571px;
    margin-left: 293px;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  u-section-2 .u-text-1 {
    font-size: 30px;
  }
  u-section-2 .u-text-2  {
    font-size: 30px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 571px;
    margin-left: 293px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-2 {
    margin-right: 266px;
    margin-left: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 461px;
    margin-left: 224px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 204px;
    margin-left: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 312px;
    margin-left: 168px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 153px;
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 112px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 96px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 321px;
}

.u-section-3 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/6.jpeg");
  transition-duration: 0.5s;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 59px auto 0 104px;
}

.u-section-3 .u-container-layout-1 {
  padding: 2px 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.27778rem;
  margin: -232px 274px 0 437px;
}

.u-section-3 .u-text-2 {
  font-size: 1.11111rem;
  margin: 12px 293px 0 430px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.777778rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 35px 410px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 174px;
    margin-left: 337px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 193px;
    margin-left: 330px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 64px;
    margin-left: 227px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 83px;
    margin-left: 220px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-left: 90px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.46) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.46) !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 442px;
}

.u-section-4 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/16.PNG");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 116px auto 0 101px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.27778rem;
  margin: -250px -98px 0 431px;
}

.u-section-4 .u-text-2 {
  font-size: 1.11111rem;
  margin: 9px -86px 0 431px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.777778rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 60px 416px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 331px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 331px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 221px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 221px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    margin-left: 90px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color , stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  transform: rotate(0deg) scale(1.47) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  transform: rotate(0deg) scale(1.47) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-block-9ac8-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-9ac8-3 {
  position: absolute;
  left: 0;
}

.u-block-9ac8-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-5-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/10.jpeg");
  background-position: 50% 50%;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 713px;
}

.u-section-5-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 210px auto 0;
}

.u-section-5-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-5-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -49px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-5-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/b2f568fad89b99e7ade64eb21063ab699c4f2f3d23b6ddefa207ef7805d4d3b28275037214076246ea68575166c7b3806659023e0b80cf6db5ffea_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 136px auto 0;
}

.u-section-5-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-5-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/16.PNG");
  background-position: 50% 40.34%;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 136px auto 0;
}

.u-section-5-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-5-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -49px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5-3 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5-3 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-5-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/2.jpeg");
  background-position: 50% 50%;
}

.u-section-5-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 136px auto 0;
}

.u-section-5-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-5-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -49px auto 0;
}

.u-section-5-4 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -49px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5-4 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5-4 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-5-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/7.jpeg");
  background-position: 50% 50%;
}

.u-section-5-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 210px auto 0;
}

.u-section-5-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-5-5 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -49px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5-5 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5-5 .u-text-1 {
    font-size: 3rem;
  }
}