.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/6.jpeg");
  margin: 38px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.27778rem;
  margin: -232px 446px 0 327px;
}

.u-section-1 .u-text-2 {
  font-size: 1.11111rem;
  margin: 12px 433px 0 326px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.777778rem;
  letter-spacing: 1px;
  margin: 14px 111px 0 auto;
  padding: 10px 58px 10px 57px;
}

.u-section-1 .u-image-2 {
  width: 64px;
  height: 68px;
  margin: -55px 108px 0 auto;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.777778rem;
  letter-spacing: 1px;
  margin: 34px 111px 0 auto;
  padding: 10px 69px 10px 68px;
}

.u-section-1 .u-image-3 {
  width: 74px;
  height: 38px;
  margin: -42px 103px 0 auto;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.777778rem;
  letter-spacing: 1px;
  margin: 50px 111px 0 auto;
  padding: 10px 112px 10px 110px;
}

.u-section-1 .u-image-4 {
  width: 69px;
  height: 68px;
  margin: -55px 105px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 250px;
  height: 250px;
  background-image: url("images/16.PNG");
  background-position: 50% 50%;
  margin: -97px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 2.27778rem;
  margin: -206px 480px 0 330px;
}

.u-section-1 .u-text-4 {
  font-size: 1.11111rem;
  margin: 9px 433px 60px 330px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 227px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 346px;
    margin-left: 227px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 333px;
    margin-left: 226px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -227px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -53px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 140px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 380px;
    margin-left: 230px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 333px;
    margin-left: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 236px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 223px;
    margin-left: 116px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 270px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 223px;
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 146px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 133px;
    margin-left: 26px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 180px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 133px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -248px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-block-674f-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-674f-3 {
  position: absolute;
  left: 0;
}

.u-block-674f-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/10.jpeg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 743px;
}

.u-section-2-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 210px auto 0;
}

.u-section-2-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/b2f568fad89b99e7ade64eb21063ab699c4f2f3d23b6ddefa207ef7805d4d3b28275037214076246ea68575166c7b3806659023e0b80cf6db5ffea_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 136px auto 0;
}

.u-section-2-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/16.PNG?rand=d01f");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 136px auto 0;
}

.u-section-2-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/2.jpeg");
  background-position: 50% 50%;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 136px auto 0;
}

.u-section-2-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-2-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/7.jpeg");
  background-position: 50% 50%;
}

.u-section-2-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 210px auto 0;
}

.u-section-2-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-5 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-5 .u-text-1 {
    font-size: 3rem;
  }
}